{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Movie View Works</h1>

    {% for movie in movies %}
        <li> {{ movie.title }} </li>
    {% endfor %}
{% endblock %}